.book-now-button {
  width: 401px;
  height: 54px;
  background-color: #529246;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: "Afacad", sans-serif;
  position: center;

}

.book-now-button:hover {
  background-color: #0E6552;
}
/* --- Nội dung bài viết --- */
main {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.article-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article-container .subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}
