/* --- Cài đặt chung --- */
body {
  margin: 0;
  font-family: "Afacad", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #0e6552;
}

.header-image {
  width: 901px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 18px;
  align-content: center;
}

.paragraph-image {
  width: 901px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 18px;
  align-content: center;
}

h1 {
  margin-top: 500px;
  font-size: 80px;
  font-weight: bold;

  letter-spacing: normal;
  text-align: center;

}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 901px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
  max-width: 901px;
  font-size: 20px;
  text-align: justify;
  color: #0e6552;
}

a {
  text-decoration: none;
  color: inherit;
}



.button {
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}





/* --- Lưới ảnh --- */
.image-grid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.image-grid img {
  width: 100%;
  /* Các ảnh sẽ tự co dãn */
  border-radius: 4px;
}

/* --- Responsive cho thiết bị di động --- */
@media (max-width: 600px) {
  .article-container {
    padding: 1rem 1.5rem;
    margin: 1rem;
  }

  .image-grid {
    flex-direction: column;
  }

  .main-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .main-nav li {
    margin-left: 0;
  }

  
  
}
